@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
    h3 {
      margin: 0 auto;
      max-width: 105px;
    }
    p {
      margin: 0 auto;
      max-width: 160px;
    }

    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }